<!-- add_post.html -->
{% extends 'base.html' %}

{% block title %}Add Post - {{ super() }}{% endblock %}

{% block content %}
    <h2>Add New Post</h2>
    <form action="{{ url_for('add_post') }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
